<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card" style="text-align: center; margin-top: 20px">
          <%= image_tag product.photo, class: "card-img-top"%>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.price %></p>
            <a href="<%= product_orders_path(product)%>" class="btn btn-success" data-method="post"><i class='fas fa-cart-arrow-down'></i></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
